html{
    background-color: #889fcc;
    font-family: sans-serif;
}

img{
  margin: 5mm;
}

a:visited{
  color: #994a34;

}

a{
	display: inline-block;
	color: #286939;
}

.margined-link{
    margin-bottom: 0.5cm;
}