html{
    background-color: #889fcc;
    font-family: sans-serif;
}

img{
  margin: 5mm;
}

a{
    display: inline-block;
    color: #276132;
    text-decoration-style: dotted;
}
/*These pseudoclasses are restricted*/
a:visited{
  color: #7d3a80;
}


.margined-link{
    margin-bottom: 0.5cm;
}